<div class="container">
  <div class="row">
    <div class="image col-lg-6">
      <img [src]="data.img" />
    </div>
    <div class="desc col-lg-6">
      <h2>{{ data.dialogueTitle }}</h2>
      <h6>Book: {{ data.book }}</h6>
      <h6>Author: {{ data.author }}</h6>
      <h6>Dialogue started by: {{data.creator}} </h6>
      <h6>Dialogue created on: {{data.time}} </h6>
    </div>
  </div>
</div>
<hr />

<div class="container">
  <div class="msg" *ngFor="let item of msgData | async">
    <div class="message">
      <p  style="color: white">User: {{ item.username }}</p>
      <h5  style="color: white">Message: {{ item.message }}</h5>
    </div>
  </div>
  <label for="inp" class="inp">
    <input
      (keyup.enter)="enterMsg()" 
      [(ngModel)]="message"
      name="msg"
      type="text"
      id="inp"
      placeholder="&nbsp;"
    />
    <span class="label">Enter the message</span>
    <span class="focus-bg"></span>
  </label>
</div>
