<div class="contain">
  <div class="container-fluid">
    <h1> {{head}} </h1>
    <hr size="3" />
    <div class="top-pick">
      <div class="item d-flex align-items-stretch" *ngFor="let item of data">
        <div (click)="gotoBookInfo(item.volumeInfo.industryIdentifiers[1].identifier)" class="card" style="width: 12rem">
          <img class="card-img-top" [src]="item.volumeInfo.imageLinks.smallThumbnail | safePipe" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center"> {{item.volumeInfo.title}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
